<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Options</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" (click)="showItem1()">Más vendidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showItem2()">Ganancias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showItem3()">Más vendidos por productor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showItem4()">Mayores compras</a>
      </li>


    </ul>

  </div>
</nav>



<div id="more1">
  <h3>Top 10 Más vendidos</h3>
  <img src="assets/productosVendidos.jpeg">
  <!---
    <div *ngFor="let product of productsSold; let i = index">
      <h3>{{product.name}}</h3>
      <div class="progress">
        <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{product.num}}" aria-valuemin="0" aria-valuemax="1000" [style.width]="product.num + '%'">{{product.num}}</div>
      </div>
    </div>
  -->
</div>

<div id="more2" style="display:none">
  <h3>Top 10 Mayores ganancias</h3>
  <img src="assets/ProductosGanancias.jpeg">
  <!---
    <div *ngFor="let product of productsSold; let i = index">
      <h3>{{product.name}}</h3>
      <div class="progress">
        <div class="progress-bar" [id]="pricebar" role="progressbar" attr.aria-valuenow="{{product.num * product.price}}" aria-valuemin="0" aria-valuemax="1000000" [style.width]="(product.num*product.price)//100 + '%'">{{product.num * product.price}}</div>
      </div>
    </div>
      -->
</div>

<div id="more3" style="display:none">
  <h3>Top 10 Más vendidos por productor</h3>
  <img src="assets/VendidosProductor.jpeg">
  <!--
  <div *ngFor="let product of productsSold; let i = index">
    <h3>{{product.name}}</h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{product.num}}" aria-valuemin="0" aria-valuemax="1000" [style.width]="product.num + '%'">{{product.num}}</div>
    </div>
  </div>
    -->
</div>

<div id="more4" style="display:none">
  <h3>Top 10 Clientes con más Ventas</h3>
  <img src="assets/ClientesVentas.jpeg">
  <!--
  <div *ngFor="let customer of customers; let i = index">
    <h3>{{customer.name}}</h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{customer.bought}}" aria-valuemin="0" aria-valuemax="1000" [style.width]="customer.bought + '%'">{{customer.bought}}</div>
    </div>
  </div>
  -->
</div>








