
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

 

  <title>Checkout example for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">


  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRylQWd17Z0GEXA2HLvEFJ2piVRzHRGzWKBGg&usqp=CAU" alt="" width="150" height="150">
      <h2>{{isNew == 'null' ? 'Crear Usuario' : 'Editar Usuario'}}</h2>
    </div>

    <div class="row">

      <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="" value="" name="name" [(ngModel)]=model.name required>
              <div class="invalid-feedback">
                Ingrese un nombre valido
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellido</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" name="last_name" [(ngModel)]=model.lastName required>
              <div class="invalid-feedback">
                Ingrese apellido Valido
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Cédula <span class="text-muted"></span></label>
            <input type="email" class="form-control" id="id" name="id" [(ngModel)]=model.id>
            <div class="invalid-feedback">
              Ingrese un número de identificación valido
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Usuario</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Nombre_Usuario" name="username" [(ngModel)]=model.username required>
              <div class="invalid-feedback" style="width: 100%;">
                Ingrese un usuario valido
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="country">Rol</label>
            <select class="custom-select d-block w-100" id="rol" name="rol" [(ngModel)]=model.rol required>
              <option value="">Seleccionar una opcion ...</option>
              <option>Cliente</option>
              <option>Productor</option>

            </select>
            <div class="invalid-feedback">
              Por favor seleccione una provincia
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Télefono <span class="text-muted"></span></label>
            <input type="email" class="form-control" id="phone_number" name="phone_number" [(ngModel)]=model.phone_number>
            <div class="invalid-feedback">
              Ingrese un número de telefono valido
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" placeholder="Desampa x pista" name="address" [(ngModel)]=model.address required>
            <div class="invalid-feedback">
              Ingrese su dirección
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Provincia</label>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choose...</option>
                <option>San José</option>
                <option>Heredia</option>
                <option>Alajuela</option>
                <option>Cartago</option>
                <option>Guanacaste</option>
                <option>Limón</option>
                <option>El Puerto</option>
              </select>
              <div class="invalid-feedback">
                Por favor seleccione una provincia
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <label for="zip">Cantón</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Se requiere ingresar un cantón
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <label for="zip">Districto</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Se requiere ingresar un cantón
              </div>
            </div>

          </div>

          <div class="mb-3">
            <label for="birth">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="birth_date" placeholder="" name="birth_date" [(ngModel)]=model.birth_date required>
            <div class="invalid-feedback">
              Se requiere ingresar una fecha de nacimiento
            </div>
          </div>

          <div class="form-group">
            <label>Contraseña</label>
            <div class="input-group" id="show_hide_password">
              <input class="form-control" type="password" name="password" [(ngModel)]=model.password>
              <div class="input-group-addon">
                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" name="submit" (click)="addUserC()">{{isNew == 'null' ? 'Crear Usuario' : 'Guardar Usuario'}}</button>
          <button class="btn btn-danger btn-lg btn-block" name="submit" (click)="deleteUser(isNew)">Eliminar Usuario</button>


        </form>
      </div>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small">
    </footer>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';

      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>


  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Clinte Eliminado Exitosamente
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/loginG']">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guardar Datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Cliente Actualizado
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/loginG']">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Cliente agregado
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/loginG']" >OK</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
