<hr class="mb-4">
<button class="btn btn-secondary btn-lg btn-block" type="submit" [routerLink]="['/admin']">Productores</button>
<hr class="mb-4">
<button class="btn btn-secondary btn-lg btn-block" type="submit" [routerLink]="['/afiliaciones']">Afiliaciones</button>
<hr class="mb-4">
<button class="btn btn-secondary btn-lg btn-block" type="submit" [routerLink]="['/categorias']">Categorias</button>
<hr class="mb-4">
<button class="btn btn-secondary btn-lg btn-block" type="submit" [routerLink]="['/reportes']">Reportes</button>
