<img class="mb-4 rounded float-right" typeof="button" (click)="checkout()" src="https://image.flaticon.com/icons/png/512/107/107831.png" alt="" width="75" height="75">

<h2>Productos del vendedor X</h2>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad a comprar</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of listStock; let i = index; let n of listNumber">
      <td>{{stock.idProductNavigation.product}}</td>
      <td>{{stock.quantity}}</td>
      <td>{{stock.idProductNavigation.price}}</td>
      <td>{{amount}}</td>
      <td>
        <button class="btn btn-primary" (click)="buy(i)">Comprar 1 kg</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No hay mas inventario
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
